{% extends 'base/base.html' %}
{% load static %}

{% block title %}Adopcion de Mascotas{% endblock %}
{% block css %}
   
    <style>
      .titulo{
        color:darkblue;
      }
    </style>
{% endblock %}
  {% block content %}

 
  <!-- DataTales Example -->
  <div class="container-fluid w-75">
  <div class="card">
    <div class="card-body">
        {% for m in mascotas%}
        <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
              <img src="{{m.imagen.url}}" class="card-img-top" height="500px" alt="...">
            </div>

            <div class="col">
               <span class="text-center "> <h1>{{m.nombre}}</h1></span><br>

               <span class="text-center"><h4 class="titulo">Edad</h4>
                <h5>{{m.edad}} Años</h5></span> <br>

                <span class="text-center"><h4 class="titulo">Vacunacion</h4>
                <h5>{{m.vacuna}}</h5></span> <br>

                <span class="text-center"><h4 class="titulo">Desparacitado</h4>
                <h5>{{m.desparacitado}}</h5></span> <br>

                <span class="text-center"><h4 class="titulo">Caracteristicas</h4>
                <h5>{{m.caracteristicas}}</h5></span> <br> <br>

                <div class="row ">
                  <div class="col-auto me-auto">
                  {% if m.estado == "Adoptado" %}
                    <span class="badge bg-success">{{m.estado}}</span>  <br>
                  {% else %}
                    <a role="button" class="btn btn-sm btn-warning text-white" href="https://docs.google.com/forms/d/e/1FAIpQLScgeIad0O6ItuemAkmzHoeVkOTNQMaETqcFXTB4P1Cm-QMNPQ/viewform?usp=sf_link">{{m.estado}}</a>  <br>
  
                  {% endif %}
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-primary btn-sm ml-2 " aria-hidden="true" type="button" onclick="history.back()">Volver</button>
                  </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
  </div>          
        
</div>


<br>
   
  {% endblock %}    

  {% block js %}    

  {% endblock %}    