
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Monsterrat', sans-serif;
    overflow-x: hidden;
    /* background-image: linear-gradient(to left,rgb(10, 120, 247),rgb(161, 212, 247)); */
    /* background: linear-gradient(45deg, #2937f0, #9f1ae2) !important; */
    background: linear-gradient(45deg, #d3d5f8, #b8d3fc) !important;
}


/* Menu */
#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #f8f3f3;
}

.info {
    font-size: 12px;
    font-weight: bold;
}

/* footer {
    background-color: #1b2a4b;
    min-height: 50px;

}

footer p {
    color: #f3f3f3;
} */

#icono i{
    font-size: 26px;
    padding: 5px 8px;
    color: #f3f3f3;
}

/* .page-link{
    font-size: 12px;
} */

.pagination .page-link {
    color: #eff2f5; /* Color de texto */
    background-color: rgb(64, 150, 248); /* Color de fondo */
    border: 1px solid rgb(10, 120, 247); 
    font-size: 13px;
}

.pagination .page-link:hover {
    color: #0056b3;
    background-color: #83bdf7;
    border-color: rgb(3, 120, 253);
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #0a0a0a;
}



.img-profile {
  height: 2rem;
  width: 2rem;
}

.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #2c3e50;
    color: #fff;
  }
  
  .copyright {
    background-color: #1a252f;
  }