<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Adopcion de Mascotas{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <!-- <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">  -->


    <!-- Custom styles for this template-->
    <link href="{% static 'app/vendor/jquery/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/datatables/responsive.dataTables.min.css' %}" rel="stylesheet">
    

    <!-- <link href="{% static 'app/vendor/jquery/jquery.dataTables.min.css' %}" rel="stylesheet">
  
    <link href="{% static 'app/vendor/datatables/responsive.dataTables.min.css' %}" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    {% block css %}
    <style>
      /* Ajusta la posición del menú desplegable si es necesario */
      .dropdown-menu {
          /* Ajusta el margen izquierdo para evitar que se salga de la pantalla */
          margin-left: -1rem; /* Ajusta según sea necesario */
      }
      
      /* Opcional: Ajustar el espacio entre el perfil y el menú */
      .nav-link {
          padding-right: 1rem; /* Ajusta según sea necesario */
      }

      .navbar-toggler {
  border: none; /* Quita el borde, si no es necesario */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  background-color: #343a40; /* Fondo oscuro, puedes cambiar este color */
  border-radius: 5px; /* Bordes redondeados opcionales */
}
      </style>
    
    {% endblock %}
</head>

<body>
 
    <nav class="navbar navbar-expand-lg p-3" id="menu">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><span><img src="{% static 'app/img/logo4.jpeg' %}" alt="" width="100" height="100" style="border-radius: 50%;"></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mascotas' %}">ADOPTA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listadoMascotas' %}">MASCOTAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}">CONTACTO</a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% if user.is_authenticated %}
                      <span class="mr-2 d-none d-lg-inline small">{{request.user.username}}</span>
                      <img class="img-profile rounded-circle"
                          src="{{request.user.get_imagen}}">
                  </a>
                  {% endif %}
                  <ul class="dropdown-menu shadow dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">
                          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                          Perfil
                      </a> 
                      <a class="dropdown-item" href="#">
                          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                          Cambiar contraseña
                      </a>
                      
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                          Cerrar Sesión
                      </a>
                    </ul>
            
            </li>
              
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="menu">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><span class="text-primary fs-5 fw-bold">Adpocion Mascotas</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
            </ul>
            <ul class="navbar-nav d-flex">
              <li class="nav-item dropdown no-arrow">
                
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.is_authenticated %}
                    <span class="mr-2 d-none d-lg-inline small">{{request.user.username}}</span>
                    <img class="img-profile rounded-circle"
                        src="#">
                </a>
                {% endif %}
                <div class="dropdown-menu dropdown-menu-right bg-gray-900 shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Perfil
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cambiar contraseña
                    </a>
                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar Sesión
                    </a>
                </div>
                
              </li>
              
            </ul>
          </div>
        </div>
      </nav> -->
      
      

        {% block content %}
    
    
    
        {% endblock %}

      

      <!-- <footer class="w-100 d-flex align-items justify-content-center flex-wrap">
        <p class="fs-6 px-3 pt-3"><a href="#" style="text-decoration: none;">Mauro Campani</a> &copy Todos los Derechos Reservados 2024</p>
        <div class="pt-3">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
    </footer> -->

    <footer class="footer text-center">
      <div class="container">
          <div class="row">
              <!-- Footer Location-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Ubicacion</h4>
                  <p class="lead mb-0">
                      calle 12354
                      <br />
                      Rio Tercero, Cordoba
                  </p>
              </div>
              <!-- Footer Social Icons-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Nuestras Redes Sociales</h4>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="bi bi-facebook"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="bi bi-whatsapp"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="bi bi-linkedin"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="bi bi-instagram"></i></a>
              </div>
              <!-- Footer About Text-->
              <div class="col-lg-4">
                  <h4 class="text-uppercase mb-4">Contacto</h4>
                  <p class="lead mb-0">
                      03571-610102
                  </p>
              </div>
          </div>
      </div>
  </footer>
    <div class="copyright py-2 text-center text-white">
      <div class="container"><small><p class="fs-6 px-3 pt-3"><a href="#" style="text-decoration: none;">Mauro Campani</a> &copy Todos los Derechos Reservados 2024</p></small></div>
  </div>
<!-- <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script> -->
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'app/js/main.js' %}"></script>
    <script src="{% static 'app/js/dataTableJS.js' %}"></script>


    <script src="{% static 'app/vendor/jquery/js/jquery.dataTables.min.js' %}"></script>


    <script src="{% static 'app/datatables/Buttons-2.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'app/datatables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'app/datatables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'app/datatables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'app/datatables/Buttons-2.2.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'app/datatables/Buttons-2.2.2/js/buttons.print.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/vendor/datatables/dataTables.responsive.min.js' %}"></script>


<!-- SWEETALERT -->
<script type="text/javascript" src="{% static 'app/vendor/jquery/js/sweetalert.js' %}"></script> 


{% if messages %}
        {% for m in messages %}
            {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script>
                Swal.fire({
      
                    "text": "{{m}}",
                    "icon": "success"

                })
            </script>
            {% endif %}

            {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script>
                Swal.fire({
                    "title":"Error",
                    "text": "{{m}}",
                    "icon": "error"

                })
            </script>
            {% endif %}
            {% comment %} {% if m.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <script>
                Swal.fire({
                    "title":"Acción Completada ",
                    "text": "{{m}}",
                    "icon": "info"

                })
            </script>
            {% endif %} {% endcomment %}
        {% endfor %}
    {% endif %}

    {% block js %}
    
    
    
    {% endblock %}
</body>

</html>